<!DOCTYPE html>
    <head>

        {{ block "title" . }}
        {{ end }}

    </head>

    <body> 

        {{ template "_internal/google_analytics_async.html" . }}
        {{ partial "header" . }}

        <div class="container" id="frame">

            {{ block "main" . }}
                <div class="row" id="page-content">
                </div>

            {{ end }}


        </div>  <!-- End of container -->
        {{ partial "footer" . }}    

        {{ partial "bootstrap_includes" }}
        {{ partial "math_includes" }}

        <link rel="stylesheet" type="text/css" href="/css/style.css"  >
        <script src="/js/custom.js"></script>
        
    

    </body>


</html> 